.container.testmonials-container {
    width: 50%;
    padding-bottom: 3rem;
}

.client-avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.5rem solid var(--color-primary-variant);
}

.testmonial {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    user-select: none;
}

.client-review {
    color: var(---color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
    background: var(--color-primary);
}

/* ============== Media Queries (Medium devices) ============== */
@media screen and (max-width: 1024px) {
    .container.testmonials-container {
        width: 60%;
    }
}

/* ============== Small Queries (Small devices) ============== */
@media screen and (max-width: 600px) {
    .container.testmonials-container {
        width: var(--container-width-sm);
    }
    .client-review  {
        width: var(--container-width-sm);
    }
}